<style>
  .timeline .timeline-image {
    text-align: center;
  }
  .timeline .timeline-panel {
    text-align: center;
  }
  .timeline .timeline-inverted .timeline-panel {
    text-align: center;
  }
  .timeline li::before {
    display: none;
  }
  .timeline li {
    list-style: none;
  }
</style>

<!-- Timeline -->
<section class="page-section" id="{{ site.data.sitetext[site.locale].timeline.section | default: "timeline" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].timeline.title | default: "Timeline" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].timeline.text | default: "" }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
        {% for event in site.data.sitetext[site.locale].timeline.events %}
          {% if event.align == "right" %}
            <li class="timeline-inverted">
          {% else %}
            <li>
          {% endif %}
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="{{ event.image }}" alt="{{ event.alt }}">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>{{ event.year }}</h4>
                <h4 class="subheading">{{ event.title }}</h4>
              </div>
              <div class="timeline-body">
                <div class="text-muted">{{ event.desc | markdownify }}</div>
              </div>
            </div>
          </li>
        {% endfor %}
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>{{ site.data.sitetext[site.locale].timeline.end }}</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>